{{- define "main" -}}

{{ partial "carousel.html" }}

<div class="container mt-5 pb-5">
    <h2 class="text-center text-muted my-3">Products</h2>
    <ul class="row list-unstyled">
        {{ range where .Site.RegularPages "Type" "product" }}
        <li class="col-4">
            <div class="card my-3">
                {{ if .Params.image }}<img src="{{ .Params.image }}" class="card-img-top" alt="">{{ else }}
                <img src="//cdn.quv.kr/og8ll101e/up/5ea68e3f9f1a3_1920.jpg" class="card-img-top" alt="">{{ end }}
                <div class="card-body">
                    <h3><a class="text-muted" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p class="card-text">{{ .Content | truncate 200}}</p>
                </div>
            </div>
        </li>
        {{ end }}
    </ul>
</div>

{{- end -}}