{{- define "main" -}}

{{ partial "carousel.html" }}

<div class="container mt-5 pb-5">
    <h2 class="text-center text-muted my-3">Deep Freezer & Refrigerator</h2>
    <ul class="row list-unstyled">
        {{ range sort (where .Site.RegularPages "Type" "product") "Permalink" "Asc" }}
        <li class="col-md-4">
            <div class="card my-3">
                <a class="text-muted" href="{{ .Permalink }}">
                {{ if .Params.image }}<img src="{{ .Params.image }}" class="card-img-top" alt="">{{ else }}
                <img src="//cdn.quv.kr/og8ll101e/up/5ea68e3f9f1a3_1920.jpg" class="card-img-top" alt="">{{ end }}
                <div class="card-body">
                    <h3>{{ .Title }}</h3>
                    <p class="card-text">{{ .Content | truncate 170}}</p>
                </div>
                </a>
            </div>
        </li>
        {{ end }}
    </ul>
</div>
<style>
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}
</style>
{{- end -}}
