{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="container mt-5">
    <article class="content">
        <main>
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ .Params.image }}" alt="">
                </div>
                <div class="col-md-6 pt-5">
                    <p class="my-5">&nbsp;</p>
                    <h2 class="mt-5">{{- .Title -}}</h2>
                    <p class="lead">
                        {{ .Content }}
                    </p>
                </div>
            </div>
            <p class="mb-5">&nbsp;</p>
            <iframe class="w-100 h-100" style="min-height: 600px" src="https://docs.google.com/viewer?url=https://vibrant-euclid-b03e74.netlify.app/{{ .Params.pdf }}&embedded=true" frameborder="0"></iframe>
        </main>
    </article>
</div>
{{ end }}